@model Picanol.ViewModels.PartsViewModel
@{
    ViewBag.Title = "PdfTest";
}
<html>
<body>
    <h2>PdfTest</h2>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    <div id="Grid">
        <table>
            <tr>
                <th>Part Number</th>
                <th>Part Name</th>
                <th>Serial</th>
                <th>Stock</th>
            </tr>

            @foreach (var item in Model.PartsList)
            {
                <tr>
                    @if (@item.PartTypeId == 1)
                {
                        <td>@item.PartNumber</td>
                    }
                    else
                    {
                        <td><a href="@Url.Action("PartsMovement","Parts",new{partId=@item.PartId , partNumber=@item.PartNumber , partName = @item.PartName})">@item.PartNumber</a></td>
                    }
                    <td>@item.PartName</td>
                    <td>@item.SerialNo</td>
                    <td>@item.Stock</td>
                </tr>
            }
        </table>
    </div>
    <br />
    <br />
    @using (Html.BeginForm("Export", "Parts", FormMethod.Post))
    {
        <input type="hidden" name="GridHtml" />
        <input type="submit" id="btnSubmit" value="Export" />
    }
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#Grid").html());
            });
        });
    </script>
</body>
</html>