@model Picanol.ViewModels.InvoiceViewModel
@{

    Layout = "../Shared/View.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <div class="text-left" style="margin-left:30px;font-size:large">Ref: @Model.InvoiceDetails.InvoiceNo </div>
                <div class="text-right" style="margin-top:-20px">Date:@Model.InvoiceDetails.InvoiceDate.Value.ToShortDateString()</div>
            </div>
        </div>
    </div>
    &nbsp;<br />
    &nbsp;<br />
    <div class="col-md-12">
        <div class="text-left">

            To,<br />
            @Model.CustomerDetails.CustomerName <br />
            @Model.CustomerDetails.AddressLine1 @Model.CustomerDetails.AddressLine2 @Model.CustomerDetails.District @Model.CustomerDetails.City @Model.CustomerDetails.PIN <br />
            State: @Model.CustomerDetails.State <br />
            Code: @Model.CustomerDetails.StateCode<br />
            Contact: @Model.CustomerDetails.Mobile <br />
        </div>
    </div>
    &nbsp;<br />
    &nbsp;<br />

    <div class="col-md-12">
        <div class="text-left">
            <b><u>SUB:- DISPATCH OF REPAIRED BOARDS/SET CARDS ON LOAN BASIS</u></b>

        </div>
    </div>

    &nbsp;<br />

    <div class="col-md-12">
        <div class="text-left">
            Dear Sir,<br />

            <br />
            We are sending the following PCBS duly mentioned below on<br />
            LOAN basis.



        </div>
    </div>

    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
    <div class="col-md-12">
        <table style="width:100%">
            <tr style="font-weight:bold;">
                <th><u>OUR REF NO</u></th>
                <th><u>YOUR RGP NO</u></th>
                <th><u>ITEM</u></th>
                <th><u>DESCRIPTION</u></th>
                <th><u>SERIAL No</u></th>
                <th><u>QTY</u></th>
            </tr>
            <tr>
                <td>@Model.OrderDetails.TrackingNumber</td>
                <td>@Model.OrderDetails.CustomerRef</td>
                <td>@Model.OrderDetails.PartName</td>
                <td>@Model.OrderDetails.PartNo</td>
                <td>@Model.OrderDetails.SerialNo</td>
                <td>1</td>
            </tr>
        </table>

    </div>
    &nbsp;<br />
    &nbsp;<br />
    &nbsp;<br />
    <div class="col-md-12">
        <div class="text-left">
            Please acknowledge the receipt of the same at your end.<br />
            &nbsp;<br />
            Thanks and Regards,<br />
            &nbsp;<br />
            For PICANOL INDIA PVT LTD<br />
            &nbsp;<br />
            &nbsp;<br />
            &nbsp;<br />
            AUTHORIZED SIGNATORY<br />
            <b>OUR GSTIN: 07AAECP4023H1ZO</b><br />
            &nbsp;<br />
            &nbsp;<br />
            <b>PARTY GSTIN: @Model.CustomerDetails.GSTIN </b><br />
            APPX VALUE OF THE GOODS RS .......... /--

        </div>
    </div>




</div>
<br />

