
@*@{
    ViewBag.Title = "JobCard";
}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<h2>JobCard</h2>
@foreach (var item in collection)
{
    <div class="col-sm-6">
        Tracking ID - @item.
    </div>
    <div class="col-sm-6">
        Customer Name - @item.
    </div>
    <div class="col-sm-6">
        Date - @item.
    </div>
    <div class="col-sm-6">
        Status - @item.
    </div>
}

@using (Html.BeginForm("JobCard", "Material", FormMethod.Post))
{

<input type="button" value="Add Row" onclick="addRow('dataTable')" />
<table id="dataTable" >
    <tr>
        <th>Item Description</th>
        <th>Part No</th>
        <th>Quantity</th>
        <th>Notes</th>
    </tr>
    <tr>
        <td> <input name="id" class="form-control" type="search" list="languages" autocomplete="on" id="ID" /> </td>
        <td> <input type="text" /> </td>
        <td> <input type="text" /> </td>
        <td> <input type="text" /> </td>
    </tr>
  
</table>
<button type="submit" class="btn btn-success"> Submit </button>
}
<datalist id="languages">
    @foreach (var item in Model.)
    {
        <option id="@item.ID" value="@item.Name"></option>

    }

</datalist>



<script language="javascript">
		function addRow(tableID) {

			var table = document.getElementById(tableID);

			var rowCount = table.rows.length;
			var row = table.insertRow(rowCount);

			var cell1 = row.insertCell(0);
			var element1 = document.createElement("input");
			element1.type = "text";
			element1.name = "txtbox[]";
			cell1.appendChild(element1);

			var cell2 = row.insertCell(1);
			var element2 = document.createElement("input");
			element2.type = "text";
			element2.name = "txtbox[]";
			cell2.appendChild(element2);

            var cell3 = row.insertCell(2);
			var element3 = document.createElement("input");
			element3.type = "text";
			element3.name = "txtbox[]";
			cell3.appendChild(element3);

			var cell4 = row.insertCell(3);
			var element4 = document.createElement("input");
			element4.type = "text";
			element4.name = "txtbox[]";
			cell4.appendChild(element4);


		}

		function deleteRow(tableID) {
			try {
			var table = document.getElementById(tableID);
			var rowCount = table.rows.length;

			for(var i=0; i<rowCount; i++) {
				var row = table.rows[i];
				var chkbox = row.cells[0].childNodes[0];
				if(null != chkbox && true == chkbox.checked) {
					table.deleteRow(i);
					rowCount--;
					i--;
				}


			}
			}catch(e) {
				alert(e);
			}
		}

</script>*@